body {
    font-family: 'Hind', Helvetica, Arial, Lucida, sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 10px 20px;
}

a {
    color: black;
    text-decoration: none;
    
}

.logo {
    width: 300px;
    height: 100px;
}

title {

}

.hero {

}

.hero h2 {

}

footer {

}