* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind', Helvetica, Arial, Lucida, sans-serif;
    background: linear-gradient(#6ec6ff, #b3e5fc);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*header*/

.game-header {
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 0 #000;
}

.game-header h1 {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.game-header p {
    font-size: 0.7rem;
    opacity: 0.9;
}

/*Container joc*/

#game-container {
    position: relative;
    background: #2c2c2c;
    padding: 12px;
    border-radius: 14px;
    box-shadow: 0 0 0 4px #000, 0 10px 25px rgba(0, 0, 0, 0.6);
}