* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind', Helvetica, Arial, Lucida, sans-serif;
    background: linear-gradient(#6ec6ff, #b3e5fc);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*header*/

.game-header {
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 0 #000;
}

.game-header h1 {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.game-header p {
    font-size: 0.7rem;
    opacity: 0.9;
}

/*Container joc*/

#game-container {
    position: relative;
    background: #2c2c2c;
    padding: 12px;
    border-radius: 14px;
    box-shadow: 0 0 0 4px #000, 0 10px 25px rgba(0, 0, 0, 0.6);
}

/*Canvas*/

#game-canvas {
    background: linear-gradient(#8fd3ff, #c8ecff);
    border-radius: 10px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 4px solid #000;
}

/*UI/Inter¡facç*/

#game-ui {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

/*Puntuació*/

/* Puntuació */

#score-container {
    background: #111;
    padding: 8px 12px;
    border-radius: 8px;
    border: 3px solid #00ff88;
    box-shadow: inset 0 0 0 2px #000;
    font-size: 0.65rem;
    color: #00ff88;
    text-shadow: 1px 1px 0 #000;
}